body{
    margin: 0px;
    padding: 0px;
    background-image: url(pexel.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

h1{
    font-size: 45px;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
}

.btn:hover{
    color: rgb(229, 219, 219);
    background-color: rgba(151, 101, 101, 0.838);
}

